# for all
numpy>=1.24.2
wandb>=0.13.10
matplotlib>=3.7.0
scipy>=1.10.0
pytorch-lightning>=2.0.3
shapely>=2.0.1
networkx>=3.0
Cartopy>=0.22.0
pyproj>=3.4.1
tueplots>=0.0.8
plotly>=5.15.0
xarray>=0.20.1
zarr>=2.10.0
dask>=2022.0.0
pandas>=1.4.0
# for dev
pre-commit>=2.15.0
pytest>=8.1.1
pooch>=1.8.1
