# Core dependencies
numpy>=1.24.2
wandb>=0.13.10
scipy>=1.10.0
pytorch-lightning>=2.0.3
shapely>=2.0.1
networkx>=3.0
Cartopy>=0.21.0
pyproj>=3.4.1
tueplots>=0.0.8
matplotlib>=3.7.0
plotly>=5.15.0
torch>=2.3.0
torch-geometric==2.3.1
parse>=1.20.2
dataclass-wizard<0.31.0
mllam-data-prep>=0.5.0
mlflow>=2.16.2
boto3>=1.35.32
nvidia-ml-py>=13.580.82

# Dev dependencies
pre-commit>=3.8.0
pytest>=8.3.2
pooch>=1.8.2

# Docs dependencies
sphinx>=7.0
sphinx-book-theme
sphinx-autodoc-typehints
sphinx-copybutton>=0.5
myst-parser>=2.0
