name: Linting

on:
  # trigger on pushes to any branch
  push:
  # and also on PRs to main
  pull_request:
    branches:
      - main

jobs:
  pre-commit-job:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: pre-commit/action@v3.0.1
