name: lint

on:
  # trigger on pushes to any branch, but not main
  push:
    branches-ignore:
      - main
  # and also on PRs to main
  pull_request:
    branches:
      - main

jobs:
  pre-commit-job:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: pre-commit/action@v2.0.3
